#name-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Source Sans Pro";
    background-image: url("../images/background.png");
    background-color: #2d85f0;
    margin-top: 120px;
}


article header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
article header div p {
    margin-left: 15px;
}