/* styles for profile header */

.header {
    width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Source Sans Pro";
    font-size: 1.7rem;
    color:aliceblue;
    background-image: url("../images/background.png");
    background-color: #2d85f0;
    margin-top: 150px;
    margin-left: 50px;
    float: left;
}


article header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
article header div p {
    margin-left: 15px;
}